<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>

    <div ng-app="myApp" ng-controller="myCtrl">
        <div>
            username: <input type="text"  name="" ng-model="user.username" /> | password: <input type="text"  name="" ng-model="user.password" />
            <button ng-click="click_get_token()">get token </button>
            <button ng-click="save_token()">post api/tokens</button>
        </div>
        <hr />
        <h3>Web ISP</h3>
        <button ng-click="listado_tecnicos()">listado_tecnicos</button>
        <button ng-click="listado_ots()">listado_ots</button>
        <button ng-click="listado_oss()">listado_oss</button>
        <button ng-click="listado_alertas()">listado_alertas</button>
        <button ng-click="listado_promociones()">listado_promociones</button>
        <button ng-click="stats_AMBA()">stats_AMBA</button>
        <button ng-click="stats_ARG()">stats_ARG</button>
        <button ng-click="velocidades_AMBA()">velocidades_AMBA</button>
        <button ng-click="ots_x_dia_AMBA()">ots_x_dia_AMBA</button>
        <button ng-click="top_10_tecnicos()">top_10_tecnicos</button>
        <button ng-click="top_100_paginas()">top_100_paginas</button>
        <button ng-click="top_20_clientes()">top_20_clientes</button>
        <button ng-click="zonas_problemas()">zonas_problemas</button>
        <hr />
        <h3>Clientes y Usuarios</h3>
        <button ng-click="get_cliente()">get cliente 101</button>
        <button ng-click="get_tecnico()">get tecnico</button>
        <button ng-click="get_tipoUsuarioApp()">get tipoUsuarioApp 201</button>        
        <button ng-click="post_usuario()">post usuarios</button>
        <button ng-click="get_usuario()">get usuarios</button>
        <button ng-click="agregar_pagina_de_fb()">POST paginas</button>
        <button ng-click="agregar_dispositivo()">agregar_dispositivo</button>
        <button ng-click="updatear_dispositivo()">updatear_dispositivo</button>        
        <button ng-click="get_localidades()">get_localidades</button>    
        <hr />
        <h3>Solicitudes</h3>
        <button ng-click="get_solicitudes()">get_solicitudes</button>        
        <button ng-click="agregar_solicitud()">agregar_solicitud</button>
        <button ng-click="updatear_solicitud()">updatear_solicitud</button>        
        <button ng-click="OS_ult_estado()">OS_ult_estado</button>     
        <button ng-click="OS_agregar_estado()">OS_agregar_estado</button> 
        <button ng-click="tipo_os()">tipo_os</button>
        <hr />
        <h3>Ordenes de Trabajo</h3>
        <button ng-click="get_OT()">get_OT</button>
        <button ng-click="agregar_OT()">agregar_OT</button>
        <button ng-click="updatear_OT()">updatear_OT</button>
        <button ng-click="calificar_OT()">calificar_OT</button>
        <button ng-click="OT_ult_estado()">OT_ult_estado</button>
        <button ng-click="OT_agregar_estado()">OT_agregar_estado</button> 
        <button ng-click="finalizar_OT()">finalizar_orden</button> 
        <button ng-click="tipo_ot()">tipo_ot</button>
        <hr />
        <h3>Router</h3>
        <button ng-click="get_router()">get_router</button>  
        <button ng-click="bloquear_web()">bloquear_web</button> 
        <button ng-click="actualizar_router()">actualizar_router</button> 
        <hr />
        <h3>Webs</h3>
        <button ng-click="get_lk_webs()">get_lk_webs</button>
        <button ng-click="post_lk_web()">post_lk_web</button>
        <button ng-click="update_lk_web()">update_lk_web</button>
        <hr />
        <h3>Tests</h3>
        <button ng-click="get_tests()">get_tests</button>
        <button ng-click="post_test()">post_test</button>  
        <button ng-click="post_test_sin_ot()">post_test_sin_ot</button>  
        <hr />
        <h3>Notificaciones</h3>
        <button ng-click="get_notificaciones()">get_notificaciones</button>
        <button ng-click="agregar_bt_notif_nueva()">agregar_bt_notif_nueva</button>
        <button ng-click="agregar_bt_notif_sin_ot()">agregar_bt_notif_sin_ot</button>
        <button ng-click="agregar_bt_notif_con_ot()">agregar_bt_notif_sin_ot</button>
        <button ng-click="marcar_bt_notif_como_leido()">marcar_bt_notif_como_leido</button>
        <button ng-click="agregar_alerta_masiva()">enviar_alerta_masiva</button>
        <button ng-click="agregar_notificacion_masiva()">enviar_notificacion_masiva</button>
        <hr />
        <!---<h3>POST Token</h3>
        <div>
            <!--<input type="text" name="" placeholder="idEntidad" ng-model="saveToken.id_entidad" />
            <input type="text" name="" ng-model="saveToken.es_cliente" />
            <input type="text" name="" ng-model="saveToken.es_tecnico" />
            <input type="text" name="" ng-model="saveToken.token" />
            <button ng-click="save_token()">post api/tokens</button>
        </div>
        <hr /> -->
        <h3>logs</h3>
        <div>
            pantalla: <input type="text" name="" ng-model="pantalla" />
            <br />
            descripcion: <input type="text" name="" ng-model="descripcion" />
        </div>
        <div>
            <button ng-click="click_post_log()">post api/logs/</button>
        </div>        
        <hr />        
        <hr noshade />
        <div>
            <h2>resultado: </h2>
            {{resultado}}
        </div>

    </div>

    <script>

        ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
        ////////////////////////////////////////////////////// GENERAL /////////////////////////////////////////////////////
        ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

        //200.69.217.157:20100
        //var url_root = "http://200.82.0.24";
        var url_root = "";
        var URL_CLIENTE = url_root + "/api/clientes";
        var URL_TECNICO = url_root + "/api/tecnicos";
        var URL_USUARIOS = url_root + "/api/usuarios";
        var URL_TIPOUSUARIOAPP = url_root + "/api/tipoUsuarioApp";
        var URL_NOTIF = url_root + "/api/notificaciones";
        var URL_LOGS = url_root + "/api/logs";
        var URL_TOKEN = url_root + "/api/tokens";
        var URL_PAGINAFB = url_root + "/api/paginas";
        var URL_DISPOSITIVOS = url_root + "/api/dispositivos";
        var URL_SOLICITUDES = url_root + "/api/solicitudes";
        var URL_OS_STATUS = url_root + "/api/os_status";
        var URL_OT = url_root + "/api/ot";
        var URL_OT_STATUS = url_root + "/api/ot_status";
        var URL_LK_WEB = url_root + "/api/web";
        var URL_ROUTER = url_root + "/api/routers";
        var URL_TESTS = url_root + "/api/tests";
        var URL_TIPO_OS = url_root + "/api/tipo_os";
        var URL_TIPO_OT = url_root + "/api/tipo_ot";
        var URL_ISP_TECNICOS = url_root + "/api/ISP_Tecnicos";
        var URL_ISP_OTS = url_root + "/api/ISP_Ots";
        var URL_ISP_OSS = url_root + "/api/ISP_Oss";
        var URL_ISP_ALEPROM = url_root + "/api/ISP_AlertasProm";
        var URL_ISP_STATS = url_root + "/api/ISP_Stats";
        var URL_ISP_VEL = url_root + "/api/ISP_Velocidades_Contratadas";
        var URL_ISP_OTS_X_DIA = url_root + "/api/ISP_OTs_x_Dia";
        var URL_ISP_TOP_TECNICOS = url_root + "/api/ISP_TopTecnicos";
        var URL_ISP_TOP_PAGINAS = url_root + "/api/ISP_Top_Paginas";
        var URL_ISP_TOP_CLIENTES = url_root + "/api/ISP_Top_Clientes";
        var URL_ISP_ALERTAS = url_root + "/api/ISP_Zonas_Problemas";
        var URL_LOCALIDADES = url_root + "/api/localidad";
        var URL_NOTI_ZONA = url_root + "/api/notificaciones_zona";
        

        var app = angular.module('myApp', []);
        var authorizationData;
        app.factory('authInterceptorService', ['$q', '$location', function ($q, $location, localStorageService) {
            /*se ejecuta en cada peticion http*/
            var authInterceptorServiceFactory = {};

            var _request = function (config) {
                config.headers = config.headers || {};

                //var authData = localStorageService.get('authorizationData');
                var authData = authorizationData;
                if (authData) {
                    config.headers.Authorization = 'Bearer ' + authData.token;
                }

                return config;
            }

            var _responseError = function (rejection) {
                if (rejection.status === 401) {
                    alert("ERRR 401------------");
                    //$location.path('/login');
                }
                return $q.reject(rejection);
            }

            authInterceptorServiceFactory.request = _request;
            authInterceptorServiceFactory.responseError = _responseError;

            return authInterceptorServiceFactory;
        }]);

        app.config(function ($httpProvider) {
            $httpProvider.interceptors.push('authInterceptorService');
        });

        app.controller('myCtrl', function ($scope, $http, $q) {
            $scope.user = { sk:'1', username: '101', password: '101', email: 'pablo.penialoza@hotmail.com'};
            $scope.cliente_user = { sk:'0', cliente_sk: '1', username: 'Martin Guixe'};
            $scope.noti = { alerta: "Alerta", prom: "Promocion" };
            $scope.stats = { AMBA: "AMBA", ARGENTINA: "ARGENTINA" };
            
            $scope.pantalla = "inicial";
            $scope.descripcion = "click en boton 1";

            $scope.click_post_log = function () {
                var data = { cliente_sk: -1, log_tipo: 500, log_desc: "un test" };
                $http.post(URL_LOGS, data)
                    .then(function (response) {
                        console.log(URL_LOGS + 'ok ' + URL_LOGS, response)
                        alert("OK " + URL_LOGS + "response:" + JSON.stringify(response.data));
                    })
                    .catch(function (data) {
                        alert("ERR" + URL_LOGS + " catch");
                    });
            }

            $scope.save_token = function () {
                var data = { sk_entidad: '2', usuario_sk: '3', es_cliente: "true", es_tecnico: "false", tokenid: "dOQ3ZvJnhEs:APA91bEub-Y3nklmcqwpk-gXX3rfQKiZe80WWs-2GSTX73vVkohjrO2cqYWn425NriJhFCJmCo3O-g2oxhanuOz16RsOngY3wH17BqnW3gwtaprVg4le2Ky0h4yCKLHf-Loc-u3gzxze" };
                var url = URL_TOKEN;
                $http.post(url, data)
                    .then(function (response) {
                        console.log(url + 'ok ' + url, response)
                        alert("OK " + url + "response:" + JSON.stringify(response.data));
                    })
                    .catch(function (data) {
                        alert("ERR" + url + " catch");
                    });
            }



            $scope.click_get_token = function () {
                /*EL CLIENT_ID ES UN PARAMETRO FIJO PARA TODA LA APLICACION*/
                var data = "grant_type=password&UserName=" + $scope.user.username + "&Password=" + $scope.user.password + "&client_id=Utn.Ba$";
                //alert("$scope.username:" + $scope.username);
                //alert(data);
                var url = url_root + '/oauth2/token';
                console.log(url);
                var deferred = $q.defer();
                $http.post(url, data, { headers: { 'Content-Type': 'application/x-www-form-urlencoded' } })
                  .success(function (response) {
                      alert("Success /token");
                      console.log(response);
                      //localStorageService.set('authorizationData', { token: response.access_token, userName: loginData.userName });
                      //authorizationData = { token: response.access_token, userName: loginData.userName };
                      authorizationData = { token: response.access_token };
                      //_authentication.isAuth = true;
                      //_authentication.userName = loginData.userName;
                      $scope.resultado = JSON.stringify(response);
                      deferred.resolve(response);



                  }).error(function (err, status) {
                      //_logOut();
                      alert("ERRRR /token");
                      deferred.reject(err);
                  });
            }


            ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
            /////////////////////////////////////////////////// NOTIFICACIONES /////////////////////////////////////////////////
            ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


            $scope.get_notificaciones = function () {
                var url = URL_NOTIF + "?cliente_sk=1&usuario_sk=1";
                $http.get(url)
                    .then(function (response) {
                        console.log(url + ' - ', response)
                        alert("OK " + url + ": " + JSON.stringify(response.data));
                        $scope.resultado = response.data;
                    })
                    .catch(function (data) {
                        console.log(data);
                        alert("err: url: " + url, data);
                    });
            }

            $scope.agregar_bt_notif_nueva = function () {

                var data = { usuario_sk: 11, cliente_sk: 2, ot_id: 1 ,notificacion_desc: 'promo1', notificacion_texto:'promo', notificacion_tipo:'Promocion'};
                var url = URL_NOTIF;
                $http.post(url, data)
                    .then(function (response) {
                        console.log(url + 'ok ' + url, response)
                        alert("OK " + url + "response:" + JSON.stringify(response.data));
                    })
                    .catch(function (data) {
                        console.log(data);
                        alert("ERR" + url + " catch");

                    });
            }

            $scope.agregar_bt_notif_sin_ot = function () {

                var data = { usuario_sk: 43, cliente_sk: 13, notificacion_sk: 1, notificacion_desc: 'Promo Freddo', notificacion_texto: '2x1 en 1Kg de Freddo!' };
                var url = URL_NOTIF;
                $http.post(url, data)
                    .then(function (response) {
                        console.log(url + 'ok ' + url, response)
                        alert("OK " + url + "response:" + JSON.stringify(response.data));
                    })
                    .catch(function (data) {
                        console.log(data);
                        alert("ERR" + url + " catch");

                    });
            }


            //marcar_bt_notif_como_leido
            $scope.marcar_bt_notif_como_leido = function () {
                var data = {cliente_sk: 13, usuario_sk: 44 };
                //var data = null;
                //user: 44	cli: 13	notif: 22
                var url = URL_NOTIF + "/22?cliente_sk=13&usuario_sk=44";
                $http.put(url, data)
                    .then(function (response) {
                        console.log(url + 'ok ' + url, response)
                        alert("OK " + url + "response:" + JSON.stringify(response.data));
                    })
                    .catch(function (data) {
                        console.log(data);
                        alert("ERR " + url + " catch");

                    });
            }

            $scope.agregar_bt_notif_con_ot = function () {
                var data = { usuario_sk: 1, cliente_sk: 1, notificacion_sk: 2, ot_id: 1 };
                var url = URL_NOTIF;
                $http.post(url, data)
                    .then(function (response) {
                        console.log(url + 'ok ' + url, response)
                        alert("OK " + url + "response:" + JSON.stringify(response.data));
                    })
                    .catch(function (data) {
                        console.log(data);
                        alert("ERR" + url + " catch");

                    });
            }

            $scope.agregar_alerta_masiva = function () {
                var data = { notificacion_desc: 'Problema General', notificacion_texto: 'Caida de tension' , notificacion_tipo: 'Alerta', localidad_sk: 35};
                var url = URL_NOTI_ZONA;
                $http.post(url, data)
                    .then(function (response) {
                        console.log(url + 'ok ' + url, response)
                        alert("OK " + url + "response:" + JSON.stringify(response.data));
                    })
                    .catch(function (data) {
                        console.log(data);
                        alert("ERR" + url + " catch");

                    });
            }

            $scope.agregar_notificacion_masiva = function () {
                var data = { notificacion_desc: 'Vinos 50', notificacion_texto: 'Hasta el 31 de Diciembre en COTO', notificacion_tipo: 'Promocion', localidad_sk: 2 };
                var url = URL_NOTI_ZONA;
                $http.post(url, data)
                    .then(function (response) {
                        console.log(url + 'ok ' + url, response)
                        alert("OK " + url + "response:" + JSON.stringify(response.data));
                    })
                    .catch(function (data) {
                        console.log(data);
                        alert("ERR" + url + " catch");

                    });
            }


            ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
            /////////////////////////////////////////////////// TIPO USUARIO ///////////////////////////////////////////////////
            ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


            $scope.get_tipoUsuarioApp = function () {
                var url = URL_TIPOUSUARIOAPP + "?username=ignaciodoring@gmail.com";
                $http.get(url)
                    .then(function (response) {
                        console.log(url + ' - ', response)
                        alert("OK " + url + ": " + JSON.stringify(response.data));
                        $scope.resultado = response.data;
                    })
                    .catch(function (data) {
                        console.log(data);
                        alert("err: url: " + url, data);
                    });
            }


            ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
            ////////////////////////////////////////////////////// PAGINAS /////////////////////////////////////////////////////
            ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


            $scope.agregar_pagina_de_fb = function () {
                //['Calabaza besame y bailare', 'Los Simpson y la oposición']
                var data = { cliente_sk: 1, usuario_sk: 1, paginas: "['Calabaza besame y bailare', 'Los Simpson y la oposición']" };
                var url = URL_PAGINAFB;
                $http.post(url, data)
                    .then(function (response) {
                        console.log(url + 'ok ' + url, response)
                        alert("OK " + url + "response:" + JSON.stringify(response.data));
                    })
                    .catch(function (data) {
                        console.log(data);
                        alert("ERR" + url + " catch");
                        
                    });
            }



            ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
            ///////////////////////////////////////////////////// USUARIOS /////////////////////////////////////////////////////
            ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


            $scope.post_usuario = function () {
                var data = { cliente_sk: 2, usuario_edad: 123, usuario_email: 'mail2', usuario_nombre: 'nomm', usuario_sexo: 'F' };
                var url = URL_USUARIOS;
                $http.post(url, data)
                    .then(function (response) {
                        console.log(url + 'ok ' + url, response)
                        alert("OK " + url + "response:" + JSON.stringify(response.data));
                    })
                    .catch(function (data) {
                        alert("ERR" + url + " catch");
                    });
            }
            

            $scope.get_usuario = function () {
                alert($scope.user.email);
                //var url = URL_USUARIOS + "?email=" + $scope.user.email;
                var url = URL_USUARIOS + "/4";//usuario_sk=4;
                $http.get(url)
                    .then(function (response) {
                        console.log(url + ' - ', response)
                        alert("OK " + url + ": " + JSON.stringify(response.data));
                        $scope.resultado = response.data;
                    })
                    .catch(function (data) {
                        console.log(data);
                        alert("err: url: " + url, data);
                    });
            }




            ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
            /////////////////////////////////////////////////// DISPOSITIVOS ///////////////////////////////////////////////////
            ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


            $scope.agregar_dispositivo = function () {
                var data = { cliente_sk: 3, router_sk:3, dispositivo_mac: 'AA:BB:CC', dispositivo_ip: '192.168.0.1', dispositivo_apodo: 'El Marto', dispositivo_tipo: 'Celular', dispositivo_bloq: 0  };
                var url = URL_DISPOSITIVOS;
                $http.post(url, data)
                    .then(function (response) {
                        console.log(url + 'ok ' + url, response)
                        alert("OK " + url + "response:" + JSON.stringify(response.data));
                    })
                    .catch(function (data) {
                        alert("ERR" + url + " catch");
                    });
            }

            $scope.updatear_dispositivo = function () {
                var data = { cliente_sk: 1, router_sk: 1, dispositivo_sk: 148, dispositivo_mac: 'DD:EE:FF', dispositivo_ip: '192.168.0.2', dispositivo_apodo: '.Net Master', dispositivo_tipo: 'Notebook', dispositivo_bloq: 0 };
                var url = URL_DISPOSITIVOS;
                $http.post(url, data)
                    .then(function (response) {
                        console.log(url + 'ok ' + url, response) 
                        alert("OK " + url + "response:" + JSON.stringify(response.data));
                    })
                    .catch(function (data) {
                        alert("ERR" + url + " catch");
                    });
            }



            ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
            ////////////////////////////////////////////////////// CLIENTE /////////////////////////////////////////////////////
            ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

            
            $scope.get_cliente = function () {
                var url = URL_CLIENTE + "?username=" + $scope.user.username;
                $http.get(url)
                    .then(function (response) {
                        console.log(url + ' - ', response)
                        alert("OK " + url + ": " + JSON.stringify(response.data));
                        $scope.resultado = response.data;
                    })
                    .catch(function (data) {
                        console.log(data);
                        alert("err: url: " + url, data);
                    });
            }

            $scope.get_localidades = function () {
                var url = URL_LOCALIDADES;
                $http.get(url)
                    .then(function (response) {
                        console.log(url + ' - ', response)
                        alert("OK " + url + ": " + JSON.stringify(response.data));
                        $scope.resultado = response.data;
                    })
                    .catch(function (data) {
                        console.log(data);
                        alert("err: url: " + url, data);
                    });
            }



            ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
            ////////////////////////////////////////////////////// TECNICO /////////////////////////////////////////////////////
            ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


            $scope.get_tecnico = function () {
                var url = URL_TECNICO + "?id=200";
                $http.get(url)
                    .then(function (response) {
                        console.log(url + ' - ', response)
                        alert("OK " + url + ": " + JSON.stringify(response.data));
                        $scope.resultado = response.data;
                    })
                    .catch(function (data) {
                        console.log(data);
                        alert("err: url: " + url, data);
                    });
            }



            ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
            //////////////////////////////////////////////////// SOLICITUDES ///////////////////////////////////////////////////
            ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

            $scope.get_solicitudes = function () {
                var url = URL_SOLICITUDES + "?cliente_sk=2";
                $http.get(url)
                    .then(function (response) {
                        console.log(url + ' - ', response)
                        alert("OK " + url + ": " + JSON.stringify(response.data));
                        $scope.resultado = response.data;
                    })
                    .catch(function (data) {
                        console.log(data);
                        alert("err: url: " + url, data);
                    });
            }

            $scope.agregar_solicitud = function () {
                var data = { cliente_sk: 2, tipo_id: '1', descripcion: '50 MB'};
                var url = URL_SOLICITUDES;
                $http.post(url, data)
                    .then(function (response) {
                        console.log(url + 'ok ' + url, response)
                        alert("OK " + url + "response:" + JSON.stringify(response.data));
                    })
                    .catch(function (data) {
                        alert("ERR" + url + " catch");
                    });
            }

            $scope.updatear_solicitud = function () {
                var data = { os_id: 2, cliente_sk: 2, fh_creacion: '22-02-2017', fh_cierre: '31-12-2017', tipo_id: '1', descripcion: '50 MB' };
                //var data = { os_id: 1, cliente_sk: 1, fh_creacion: 1506267389138, fh_cierre: 1506267389138 };
                var url = URL_SOLICITUDES;
                $http.post(url, data)
                    .then(function (response) {
                        console.log(url + 'ok ' + url, response)
                        alert("OK " + url + "response:" + JSON.stringify(response.data));
                    })
                    .catch(function (data) {
                        alert("ERR" + url + " catch");
                    });
            }


            $scope.OS_ult_estado = function () {
                var url = URL_OS_STATUS + "?os_id=2";
                $http.get(url)
                    .then(function (response) {
                        console.log(url + ' - ', response)
                        alert("OK " + url + ": " + JSON.stringify(response.data));
                        $scope.resultado = response.data;
                    })
                    .catch(function (data) {
                        console.log(data);
                        alert("err: url: " + url, data);
                    });
            }

            $scope.OS_agregar_estado = function () {
                var data = { os_id: 2, estado_sk: 2, comentarios: 'soy la puta bestia' };
                var url = URL_OS_STATUS;
                $http.post(url, data)
                    .then(function (response) {
                        console.log(url + 'ok ' + url, response)
                        alert("OK " + url + "response:" + JSON.stringify(response.data));
                    })
                    .catch(function (data) {
                        alert("ERR" + url + " catch");
                    });
            }





            ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
            //////////////////////////////////////////////// ORDENES DE TRABAJO ////////////////////////////////////////////////
            ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

            $scope.get_OT = function () {
                var url = URL_OT + "?cliente_sk=1";
                $http.get(url)
                    .then(function (response) {
                        console.log(url + ' - ', response)
                        alert("OK " + url + ": " + JSON.stringify(response.data));
                        $scope.resultado = response.data;
                    })
                    .catch(function (data) {
                        console.log(data);
                        alert("err: url: " + url, data);
                    });
            }

            $scope.agregar_OT = function () {
                var data = { cliente_sk: 1, tipo_id: 1, descripcion: 'destroyed', tecnico_sk:1 };
                var url = URL_OT;
                $http.post(url, data)
                    .then(function (response) {
                        console.log(url + 'ok ' + url, response)
                        alert("OK " + url + "response:" + JSON.stringify(response.data));
                    })
                    .catch(function (data) {
                        alert("ERR" + url + " catch");
                    });
            }

            $scope.updatear_OT = function () {
                var data = { ot_id: 1, cliente_sk: 1, fh_creacion: '22-02-2017', fh_cierre: '31-12-2017', tecnico_sk: 1, tipo_id: 2, tipo: 'lal', descripcion: 'destruido' };
                var url = URL_OT;
                $http.post(url, data)
                    .then(function (response) {
                        console.log(url + 'ok ' + url, response)
                        alert("OK " + url + "response:" + JSON.stringify(response.data));
                    })
                    .catch(function (data) {
                        alert("ERR" + url + " catch");
                    });
            }

            $scope.calificar_OT = function () {
                var ot_id = 1;
                //var data = { calificacion: 5 };
                var url = URL_OT + "/" + ot_id + "?calificacion=4";
                $http.put(url, null)
                    .then(function (response) {
                        console.log(url + 'ok ' + url, response)
                        alert("OK " + url + "response:" + JSON.stringify(response.data));
                    })
                    .catch(function (data) {
                        alert("ERR" + url + " catch");
                    });
            }


            $scope.OT_ult_estado = function () {
                var url = URL_OT_STATUS + "?ot_id=1";
                $http.get(url)
                    .then(function (response) {
                        console.log(url + ' - ', response)
                        alert("OK " + url + ": " + JSON.stringify(response.data));
                        $scope.resultado = response.data;
                    })
                    .catch(function (data) {
                        console.log(data);
                        alert("err: url: " + url, data);
                    });
            }

            $scope.OT_agregar_estado = function () {
                var data = { ot_id: 1, estado_sk: 2, comentarios: 'soy la puta bestia 2' };
                var url = URL_OT_STATUS;
                $http.post(url, data)
                    .then(function (response) {
                        console.log(url + 'ok ' + url, response)
                        alert("OK " + url + "response:" + JSON.stringify(response.data));
                    })
                    .catch(function (data) {
                        alert("ERR" + url + " catch");
                    });
            }

            $scope.finalizar_OT = function () {
                var data = { ot_id: 1, estado_sk: 3 };
                var url = URL_OT_STATUS;
                $http.post(url, data)
                    .then(function (response) {
                        console.log(url + 'ok ' + url, response)
                        alert("OK " + url + "response:" + JSON.stringify(response.data));
                    })
                    .catch(function (data) {
                        alert("ERR" + url + " catch");
                    });
            }




            ////////////////////////////////////////////////////////////////////////////////////////////////////////
            //////////////////////////////////////////////// LK WEB ////////////////////////////////////////////////
            /////////////////////////////////////////////////////// ////////////////////////////////////////////////


            $scope.get_lk_webs = function () {
                var url = URL_LK_WEB ;
                $http.get(url)
                    .then(function (response) {
                        console.log(url + ' - ', response)
                        alert("OK " + url + ": " + JSON.stringify(response.data));
                        $scope.resultado = response.data;
                    })
                    .catch(function (data) {
                        console.log(data);
                        alert("err: url: " + url, data);
                    });
            }

            $scope.post_lk_web = function () {
                var data = { ip: '192.168.0.1', nombre: 'localhost', url: 'www.xxx.yyy', resid_imagen: 2130837714 };
                var url = URL_LK_WEB;
                $http.post(url, data)
                    .then(function (response) {
                        console.log(url + 'ok ' + url, response)
                        alert("OK " + url + "response:" + JSON.stringify(response.data));
                    })
                    .catch(function (data) {
                        alert("ERR" + url + " catch");
                    });
            }

            $scope.update_lk_web = function () {
                var data = { id: 16, ip: '192.168.20.11', nombre: 'lala', url: 'zzz.xxx.yyy' };
                var url = URL_LK_WEB;
                $http.post(url, data)
                    .then(function (response) {
                        console.log(url + 'ok ' + url, response)
                        alert("OK " + url + "response:" + JSON.stringify(response.data));
                    })
                    .catch(function (data) {
                        alert("ERR" + url + " catch");
                    });
            }



            ///////////////////////////////////////////////////////////////////////////////////////////////////////
            /////////////////////////////////////////////// ROUTERS ///////////////////////////////////////////////
            /////////////////////////////////////////////////////// ///////////////////////////////////////////////


            $scope.get_router = function () {
                var url = URL_ROUTER + "?router_sk=2";
                $http.get(url)
                    .then(function (response) {
                        console.log(url + ' - ', response)
                        alert("OK " + url + ": " + JSON.stringify(response.data));
                        $scope.resultado = response.data;
                    })
                    .catch(function (data) {
                        console.log(data);
                        alert("err: url: " + url, data);
                    });
            }

            $scope.bloquear_web = function () {
                //var data = { cliente_sk:2, router_sk:2, web_sk:9 };
                var data = { cliente_sk: 2, router_sk: 2, webs: "[{ web_sk: 9, web_bloquedo: false }, { web_sk: 12, web_bloquedo: true }]" };
                var url = URL_ROUTER;
                $http.post(url, data)
                    .then(function (response) {
                        console.log(url + 'ok ' + url, response)
                        alert("OK " + url + "response:" + JSON.stringify(response.data));
                    })
                    .catch(function (data) {
                        alert("ERR" + url + " catch");
                    });
            }

            $scope.actualizar_router = function () {
                //var ot_id = 1;
                //var url = URL_ROUTER + "/" + "router_sk=1?router_modelo='lala'?";
                var data = { router_sk: 2, router_modelo: 'lala', router_ssid: 'nuevoSSID', router_psw: 'psw' }
                var url = URL_ROUTER;
                $http.put(url, data)
                    .then(function (response) {
                        console.log(url + 'ok ' + url, response)
                        alert("OK " + url + "response:" + JSON.stringify(response.data));
                    })
                    .catch(function (data) {
                        alert("ERR" + url + " catch");
                    });
            }


            ///////////////////////////////////////////////////////////////////////////////////////////////////////
            ///////////////////////////////////////////////// TESTS ///////////////////////////////////////////////
            /////////////////////////////////////////////////////// ///////////////////////////////////////////////


            $scope.get_tests = function () {
                var url = URL_TESTS + "?id=1";
                $http.get(url)
                    .then(function (response) {
                        console.log(url + ' - ', response)
                        alert("OK " + url + ": " + JSON.stringify(response.data));
                        $scope.resultado = response.data;
                    })
                    .catch(function (data) {
                        console.log(data);
                        alert("err: url: " + url, data);
                    });
            }

            $scope.post_test = function () {
                var data = { cliente_sk: 1, ot_id: 1, flag_instalacion: 1, comentario:'Test de OT', vel_mb_medidos: 25.21, potencia_recep: -100.4, flag_cableado:1, flag_modem_ok:1, ping: 12.32  };
                var url = URL_TESTS;
                $http.post(url, data)
                    .then(function (response) {
                        console.log(url + 'ok ' + url, response)
                        alert("OK " + url + "response:" + JSON.stringify(response.data));
                    })
                    .catch(function (data) {
                        alert("ERR" + url + " catch");
                    });
            }


            $scope.post_test_sin_ot = function () {
                var data = { cliente_sk: 1, comentario: 'Test sin OT', flag_instalacion:0, vel_mb_medidos: 25, potencia_recep: 100, flag_cableado: 1, flag_modem_ok: 1 };
                var url = URL_TESTS;
                $http.post(url, data)
                    .then(function (response) {
                        console.log(url + 'ok ' + url, response)
                        alert("OK " + url + "response:" + JSON.stringify(response.data));
                    })
                    .catch(function (data) {
                        alert("ERR" + url + " catch");
                    });
            }



            ///////////////////////////////////////////////////////////////////////////////////////////////////////
            /////////////////////////////////////////////// TIPO OS Y OT //////////////////////////////////////////
            /////////////////////////////////////////////////////// ///////////////////////////////////////////////


            $scope.tipo_os = function () {
                var url = URL_TIPO_OS ;
                $http.get(url)
                    .then(function (response) {
                        console.log(url + ' - ', response)
                        alert("OK " + url + ": " + JSON.stringify(response.data));
                        $scope.resultado = response.data;
                    })
                    .catch(function (data) {
                        console.log(data);
                        alert("err: url: " + url, data);
                    });
            }

            $scope.tipo_ot = function () {
                var url = URL_TIPO_OT;
                $http.get(url)
                    .then(function (response) {
                        console.log(url + ' - ', response)
                        alert("OK " + url + ": " + JSON.stringify(response.data));
                        $scope.resultado = response.data;
                    })
                    .catch(function (data) {
                        console.log(data);
                        alert("err: url: " + url, data);
                    });
            }

            //////////////////////////////////////////////////////////////////////////////////////////////////
            /////////////////////////////////////////////// WEB ISP //////////////////////////////////////////
            ////////////////////////////////////////////////// ///////////////////////////////////////////////


            $scope.listado_tecnicos = function () {
                var url = URL_ISP_TECNICOS;
                $http.get(url)
                    .then(function (response) {
                        console.log(url + ' - ', response)
                        alert("OK " + url + ": " + JSON.stringify(response.data));
                        $scope.resultado = response.data;
                    })
                    .catch(function (data) {
                        console.log(data);
                        alert("err: url: " + url, data);
                    });
            }

            $scope.listado_ots = function () {
                var url = URL_ISP_OTS;
                $http.get(url)
                    .then(function (response) {
                        console.log(url + ' - ', response)
                        alert("OK " + url + ": " + JSON.stringify(response.data));
                        $scope.resultado = response.data;
                    })
                    .catch(function (data) {
                        console.log(data);
                        alert("err: url: " + url, data);
                    });
            }

            $scope.listado_oss = function () {
                var url = URL_ISP_OSS;
                $http.get(url)
                    .then(function (response) {
                        console.log(url + ' - ', response)
                        alert("OK " + url + ": " + JSON.stringify(response.data));
                        $scope.resultado = response.data;
                    })
                    .catch(function (data) {
                        console.log(data);
                        alert("err: url: " + url, data);
                    });
            }


            $scope.listado_promociones = function () {
                var url = URL_ISP_ALEPROM + "?id=" + $scope.noti.prom;
                $http.get(url)
                    .then(function (response) {
                        console.log(url + ' - ', response)
                        alert("OK " + url + ": " + JSON.stringify(response.data));
                        $scope.resultado = response.data;
                    })
                    .catch(function (data) {
                        console.log(data);
                        alert("err: url: " + url, data);
                    });
            }

            $scope.listado_alertas = function () {
                var url = URL_ISP_ALEPROM + "?id=" + $scope.noti.alerta;
                $http.get(url)
                    .then(function (response) {
                        console.log(url + ' - ', response)
                        alert("OK " + url + ": " + JSON.stringify(response.data));
                        $scope.resultado = response.data;
                    })
                    .catch(function (data) {
                        console.log(data);
                        alert("err: url: " + url, data);
                    });
            }


            $scope.stats_AMBA = function () {
                var url = URL_ISP_STATS + "?id=" + $scope.stats.AMBA;
                $http.get(url)
                    .then(function (response) {
                        console.log(url + ' - ', response)
                        alert("OK " + url + ": " + JSON.stringify(response.data));
                        $scope.resultado = response.data;
                    })
                    .catch(function (data) {
                        console.log(data);
                        alert("err: url: " + url, data);
                    });
            }


            $scope.stats_ARGENTINA = function () {
                var url = URL_ISP_STATS + "?id=" + $scope.stats.ARGENTINA;
                $http.get(url)
                    .then(function (response) {
                        console.log(url + ' - ', response)
                        alert("OK " + url + ": " + JSON.stringify(response.data));
                        $scope.resultado = response.data;
                    })
                    .catch(function (data) {
                        console.log(data);
                        alert("err: url: " + url, data);
                    });
            }


            $scope.velocidades_AMBA = function () {
                var url = URL_ISP_VEL + "?id=" + $scope.stats.AMBA;
                $http.get(url)
                    .then(function (response) {
                        console.log(url + ' - ', response)
                        alert("OK " + url + ": " + JSON.stringify(response.data));
                        $scope.resultado = response.data;
                    })
                    .catch(function (data) {
                        console.log(data);
                        alert("err: url: " + url, data);
                    });
            }

            $scope.ots_x_dia_AMBA = function () {
                var url = URL_ISP_OTS_X_DIA + "?id=" + $scope.stats.AMBA;
                $http.get(url)
                    .then(function (response) {
                        console.log(url + ' - ', response)
                        alert("OK " + url + ": " + JSON.stringify(response.data));
                        $scope.resultado = response.data;
                    })
                    .catch(function (data) {
                        console.log(data);
                        alert("err: url: " + url, data);
                    });
            }

            $scope.top_10_tecnicos = function () {
                var url = URL_ISP_TOP_TECNICOS + "?id=" + $scope.stats.ARGENTINA;
                $http.get(url)
                    .then(function (response) {
                        console.log(url + ' - ', response)
                        alert("OK " + url + ": " + JSON.stringify(response.data));
                        $scope.resultado = response.data;
                    })
                    .catch(function (data) {
                        console.log(data);
                        alert("err: url: " + url, data);
                    });
            }

            $scope.top_100_paginas = function () {
                var url = URL_ISP_TOP_PAGINAS + "?id=" + $scope.stats.ARGENTINA;
                $http.get(url)
                    .then(function (response) {
                        console.log(url + ' - ', response)
                        alert("OK " + url + ": " + JSON.stringify(response.data));
                        $scope.resultado = response.data;
                    })
                    .catch(function (data) {
                        console.log(data);
                        alert("err: url: " + url, data);
                    });
            }

            $scope.top_20_clientes = function () {
                var url = URL_ISP_TOP_CLIENTES + "?id=" + $scope.stats.ARGENTINA;
                $http.get(url)
                    .then(function (response) {
                        console.log(url + ' - ', response)
                        alert("OK " + url + ": " + JSON.stringify(response.data));
                        $scope.resultado = response.data;
                    })
                    .catch(function (data) {
                        console.log(data);
                        alert("err: url: " + url, data);
                    });
            }

            $scope.zonas_problemas = function () {
                var url = URL_ISP_ALERTAS;
                $http.get(url)
                    .then(function (response) {
                        console.log(url + ' - ', response)
                        alert("OK " + url + ": " + JSON.stringify(response.data));
                        $scope.resultado = response.data;
                    })
                    .catch(function (data) {
                        console.log(data);
                        alert("err: url: " + url, data);
                    });
            }


        });
</script>
</body>
</html>