<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>

    <div ng-app="myApp" ng-controller="myCtrl">
        <div>
            username: <input type="text"  name="" ng-model="user.username" /> | password: <input type="text"  name="" ng-model="user.password" />
        </div>
        <br/>
        <div>
            <button ng-click="click_get_token()">get token </button>
        </div>
        <hr />
        <button ng-click="get_cliente()">get api/clientes?username=101</button>
        <button ng-click="get_tecnico()">get api/tecnicos?username=201</button>
        <button ng-click="get_tipoUsuarioApp()">get api/tipoUsuarioApp?username=201</button>        
        <button ng-click="post_usuario()">post api/usuarios</button>
        <button ng-click="agregar_pagina_de_fb()">POST api/paginas</button>
        <button ng-click="get_notificaciones()">get api/notificaciones</button>
        <hr />
        <h3>POST Token</h3>
        <div>
            <!--<input type="text" name="" placeholder="idEntidad" ng-model="saveToken.id_entidad" />
            <input type="text" name="" ng-model="saveToken.es_cliente" />
            <input type="text" name="" ng-model="saveToken.es_tecnico" />
            <input type="text" name="" ng-model="saveToken.token" />-->
            <button ng-click="save_token()">post api/tokens</button>
        </div>
        <hr />
        <h3>logs</h3>
        <div>
            pantalla: <input type="text" name="" ng-model="pantalla" />
            <br />
            descripcion: <input type="text" name="" ng-model="descripcion" />
        </div>
        <div>
            <button ng-click="click_post_log()">post api/logs/</button>
        </div>        
        <hr />        
        <hr noshade />
        <div>
            <h2>resultado: </h2>
            {{resultado}}
        </div>

    </div>

    <script>

        //200.69.217.157:20100
        //var url_root = "http://200.82.0.24";
        var url_root = "";
        var URL_CLIENTE = url_root + "/api/clientes";
        var URL_TECNICO = url_root + "/api/tecnicos";
        var URL_USUARIOS = url_root + "/api/usuarios";
        var URL_TIPOUSUARIOAPP = url_root + "/api/tipoUsuarioApp";
        var URL_NOTIF = url_root + "/api/notificaciones";
        var URL_LOGS = url_root + "/api/logs";
        var URL_TOKEN = url_root + "/api/tokens";
        var URL_PAGINAFB  = url_root + "/api/paginas";
        

        var app = angular.module('myApp', []);
        var authorizationData;
        app.factory('authInterceptorService', ['$q', '$location', function ($q, $location, localStorageService) {
            /*se ejecuta en cada peticion http*/
            var authInterceptorServiceFactory = {};

            var _request = function (config) {
                config.headers = config.headers || {};

                //var authData = localStorageService.get('authorizationData');
                var authData = authorizationData;
                if (authData) {
                    config.headers.Authorization = 'Bearer ' + authData.token;
                }

                return config;
            }

            var _responseError = function (rejection) {
                if (rejection.status === 401) {
                    alert("ERRR 401------------");
                    //$location.path('/login');
                }
                return $q.reject(rejection);
            }

            authInterceptorServiceFactory.request = _request;
            authInterceptorServiceFactory.responseError = _responseError;

            return authInterceptorServiceFactory;
        }]);

        app.config(function ($httpProvider) {
            $httpProvider.interceptors.push('authInterceptorService');
        });

        app.controller('myCtrl', function ($scope, $http, $q) {
            $scope.user = { sk:'1', username: '101', password: '101' };
            $scope.cliente_user = { sk:'0', cliente_sk: '1', username: 'Martin Guixe'};
                                    
            $scope.pantalla = "inicial";
            $scope.descripcion = "click en boton 1";

            $scope.click_post_log = function () {
                var data = { tipo: 200, doc_tipo: $scope.doc_tipo, doc_numero: $scope.doc_nro, pantalla: $scope.pantalla, descripcion: $scope.descripcion };
                $http.post(URL_LOGS, data)
                    .then(function (response) {
                        console.log(URL_LOGS + 'ok ' + URL_LOGS, response)
                        alert("OK " + URL_LOGS + "response:" + JSON.stringify(response.data));
                    })
                    .catch(function (data) {
                        alert("ERR" + URL_LOGS + " catch");
                    });
            }

            $scope.save_token = function () {
                var data = { id_entidad: '1234', es_cliente: "false", es_tecnico: "true", tokenid: "asdfñlkjqwerpoi" };
                var url = URL_TOKEN;
                $http.post(url, data)
                    .then(function (response) {
                        console.log(url + 'ok ' + url, response)
                        alert("OK " + url + "response:" + JSON.stringify(response.data));
                    })
                    .catch(function (data) {
                        alert("ERR" + url + " catch");
                    });
            }


            $scope.get_notificaciones = function () {
                var url = URL_NOTIF_LIST + "?cliente_sk=1&usuario_sk=0";
                $http.get(url)
                    .then(function (response) {
                        console.log(url + ' - ', response)
                        alert("OK " + url + ": " + JSON.stringify(response.data));
                        $scope.resultado = response.data;
                    })
                    .catch(function (data) {
                        console.log(data);
                        alert("err: url: " + url, data);
                    });
            }


            $scope.get_tipoUsuarioApp = function () {
                var url = URL_TIPOUSUARIOAPP + "?username=" + $scope.user.username; 
                $http.get(url)
                    .then(function (response) {
                        console.log(url + ' - ', response)
                        alert("OK " + url + ": " + JSON.stringify(response.data));
                        $scope.resultado = response.data;
                    })
                    .catch(function (data) {
                        console.log(data);
                        alert("err: url: " + url, data);
                    });
            }


            $scope.agregar_pagina_de_fb = function () {
                //EL DOS ES EL ID DOS DEL CLIENTE 101!!!
                //['Calabaza besame y bailare', 'Los Simpson y la oposición']
                var data = { cliente_sk: 1, usuario_sk: 1, paginas: "['Calabaza besame y bailare', 'Los Simpson y la oposición']" };
                var url = URL_PAGINAFB;
                $http.post(url, data)
                    .then(function (response) {
                        console.log(url + 'ok ' + url, response)
                        alert("OK " + url + "response:" + JSON.stringify(response.data));
                    })
                    .catch(function (data) {
                        console.log(data);
                        alert("ERR" + url + " catch");
                        
                    });
            }

            $scope.post_usuario = function () {
                //EL DOS ES EL ID DOS DEL CLIENTE 101!!!
                var data = { cliente_sk: 2, usuario_edad: 123, usuario_email: 'mail2', usuario_nombre: 'nomm', usuario_sexo: 'F' };
                var url = URL_USUARIOS;
                $http.post(url, data)
                    .then(function (response) {
                        console.log(url + 'ok ' + url, response)
                        alert("OK " + url + "response:" + JSON.stringify(response.data));
                    })
                    .catch(function (data) {
                        alert("ERR" + url + " catch");
                    });
            }


            
            $scope.get_cliente = function () {
                var url = URL_CLIENTE + "?username=" + $scope.user.username;
                $http.get(url)
                    .then(function (response) {
                        console.log(url + ' - ', response)
                        alert("OK " + url + ": " + JSON.stringify(response.data));
                        $scope.resultado = response.data;
                    })
                    .catch(function (data) {
                        console.log(data);
                        alert("err: url: " + url, data);
                    });
            }

            $scope.get_tecnico = function () {
                var url = URL_TECNICO + "?username=" + $scope.user.username;
                $http.get(url)
                    .then(function (response) {
                        console.log(url + ' - ', response)
                        alert("OK " + url + ": " + JSON.stringify(response.data));
                        $scope.resultado = response.data;
                    })
                    .catch(function (data) {
                        console.log(data);
                        alert("err: url: " + url, data);
                    });
            }


            $scope.click_get_token = function () {
                /*EL CLIENT_ID ES UN PARAMETRO FIJO PARA TODA LA APLICACION*/
                var data = "grant_type=password&UserName=" + $scope.user.username + "&Password=" + $scope.user.password + "&client_id=Utn.Ba$";
                //alert("$scope.username:" + $scope.username);
                //alert(data);
                var url = url_root + '/oauth2/token';
                console.log(url);
                var deferred = $q.defer();
                $http.post(url, data, { headers: { 'Content-Type': 'application/x-www-form-urlencoded' } })
                  .success(function (response) {
                      alert("Success /token");
                      console.log(response);
                      //localStorageService.set('authorizationData', { token: response.access_token, userName: loginData.userName });
                      //authorizationData = { token: response.access_token, userName: loginData.userName };
                      authorizationData = { token: response.access_token };
                      //_authentication.isAuth = true;
                      //_authentication.userName = loginData.userName;
                      $scope.resultado = JSON.stringify(response);
                      deferred.resolve(response);



                  }).error(function (err, status) {
                      //_logOut();
                      alert("ERRRR /token");
                      deferred.reject(err);
                  });
            }



        });





    </script>


</body>
</html>